<b>Projeto de Machine Learning utilizando os dados do censo americano</b>
<br>
<b>Objetivo: </b> Detectar se a renda da pessoa excede o valor de 50 mil por ano

Endereço da base de dados: https://archive.ics.uci.edu/ml/datasets/Adult

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('adult.data')

In [3]:
df.head()

,age,workclass,education,educational-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 14 columns):
age                48842 non-null int64
workclass          48842 non-null object
education          48842 non-null object
educational-num    48842 non-null int64
marital-status     48842 non-null object
occupation         48842 non-null object
relationship       48842 non-null object
race               48842 non-null object
sex                48842 non-null object
capital-gain       48842 non-null int64
capital-loss       48842 non-null int64
hours-per-week     48842 non-null int64
native-country     48842 non-null object
income             48842 non-null object
dtypes: int64(5), object(9)
memory usage: 5.2+ MB

<b>Colunas do Dataset</b>
<br>age: Idade
<br>workclass: Classe trabalhadora. Se a pessoa é funcionário público, autônomo, empresário, etc...
<br>education: Níveis de escolaridade
<br>education-num: Código do nível de escolaridade
<br>marital-status: Estado civil
<br>occupation: Ocupação (suporte técnico, conserto de arte, etc...)
<br>relationship: Relacionamento (esposa, filha própria, marido, não-familiar, etc...)
<br>race: Raça (branco, negro, etc...)
<br>sex: Sexo
<br>capital-gain: Ganho de capital
<br>capital-loss: Perda de capital
<br>hours-per-week: Horas de trabalho por semana
<br>native-country: País nativo

Income: resultado a ser previsto

<b>TAREFAS</b>
<br><br><b>Análise exploratória</b>
<br>a) Visualize a distribuição das classes (variável income)
<br>b) Visualize a distribuição das classes por nível de escolaridade
<br>c) Visualize a relação (scatter) das colunas age, sex e race com a coluna income
<br><br><b>Verificação e análise de dados</b>
<br>a) Verifique se existem dados missing
<br>b) Converta colunas categóricas para numéricas usando LabelEncoder ou OneHotEncoder
<br>c) Explique qual técnica de conversão você usou e o motivo
<br><br><b>Pré-processamento de Dados</b>
<br>a) Aplique algum padronizador ou normalizador (MinMaxScaler, StandardScaler, Normalizer, etc...) nos dados numéricos
<br>b) Explique qual técnica você usou e por quê
<br><br><b>Classificação e avaliação de modelos</b>
<br>a) Avalie os modelos separando os dados de treino e teste (use train_test_split)
<br>b) Avalie os modelos usando Cross Validation
<br>c) Explique a diferença entre cada uma das abordagens acima com suas vantagens e desvantagens
<br>d) Imprima os resultados para cada modelo e abordagem de avaliação utilizando as métricas Precisão, Recall e F1 Score
<br><br><b>Tunning do modelo</b>
<br>a) Defina os hyperparametros para os algoritmos utilizando GridSearch
<br>b) Implemente usando pipelines
<br>c) Avalie os modelos usando Cross Validation (utilize o recurso já integrado ao Pipeline)